@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Sofia&display=swap');
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
    --outfit: 'Outfit', sans-serif;
  }

  body {
    background-color: var(--LightGray);
    font-family: 'outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 350px;
    height: 510px;
    background-color: var(--White);
    border-radius: 15px;
    text-align: center;
  }

  .styles{
    padding: 15px;
  }
  img {
    width: 100%;
    border-radius: 15px;
  }

   .styles h2 {
    margin: 10px 10px;
    color: var(--DarkBlue);
  }

   .styles p {
     margin: 0 20px;
    color: var(--GrayishBlue);
  }

   .styles p span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0
  }

  @media screen {
    
  }